<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/login.css}" />
    <script th:src="@{/login.js}"></script>
  </head>
  <body>
    <div class="container">
      <h1>LOGIN</h1>
      <form th:action="@{/login}" method="post">
      <form>
        <input type="text" id="email" name="email" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Accedi">
		  <!-- <button class="google-login-button">Accedi con Google</button> -->
		<a class="login-signup-now" data-uia="login-signup-now" href="register.html">Non sei ancora registrato? Registrati.</a>
    <a class="login-help-link link" target="_self" data-uia="login-help-link" href="password_reset.html">Hai dimenticato la password?</a>
      </form>
    </div>
  </body>
</html>
