<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{/password_reset.css}"/>
    <script th:src="@{/password_reset.js}"></script>
  </head>
  <body>
    <div class="container">
      <h1>RESET PASSWORD</h1>
      <form th:action="@{/password_reset}" method="post">
      <p>Inserisci il tuo indirizzo email e ti invieremo un link per reimpostare la password.</p>
      <form id="password-form" action="#">

        <input type="email" id="email" name="email" required placeholder="Indirizzo e-mail">
        <button type="submit">Invia</button>
      <a class="login-help-link link" target="_self" data-uia="login-help-link" href="password_change.html">
          Hai già ricevuto il token? Cambia la password</a>
      </form>
    </div>
  </body>
</html>

