<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/password_change.css}"/>
    <script th:src="@{/password_change.js}"></script>
  </head>
  <body>
    <div class="container">
    <h1>CHANGE PASSWORD</h1>
    <form th:action="@{/password_change}" method="post">
            
      <input type="email" id="email" name="email" required placeholder="Indirizzo e-mail">

      <input type="text" id="token" name="token" required placeholder="Token ricevuto">
  
      <input type="password" id="newPassword" name="newPassword" required placeholder="Nuova Password">

      <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Conferma Password">

      <input type="submit" value="Reimposta">
    
    </form>

  </body>
</html>
