<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/register.css}" />
    <script th:src="@{/register.js}"></script>
  </head>
  <body>
    <div class="container">
    <h1>REGISTRAZIONE</h1>
    <form th:action="@{/register}" method="post" onsubmit="validateForm()">
  
      <input type="text" id="name" name="name" required placeholder="Nome">

      <input type="text" id="surname" name="surname" required placeholder="Cognome">

      <input type="email" id="email" name="email" required placeholder="Indirizzo e-mail">

      <input type="password" id="password" name="password" required placeholder="Password">

      <input type="password" id="check_password" name="check_password" required placeholder="Conferma Password">

      <select id="studies" name="studies" placeholder="Corso di studi">
        <option value="BSc">BSc</option>
        <option value="MSc">MSc</option>
        <option value="ALTRO">ALTRO</option>
      </select>
      
      <div class= "g-recaptcha m-3 row justify-content-center" 
      data-sitekey="6LcZN2QmAAAAACw4po2gr-Efo0k8ubA6cKB_CJxN"></div>
      
      <input type="submit" value="Invia">
      
    </form>

    	<a class="register-signup-now" data-uia="register-signup-now" href="login.html">
      Sei già registrato? Accedi.</a>
      
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script type="text/javascript">
        
        function validateForm(){
          if(grecaptcha.getResponse()){
            return true;
          } else {
            alert("Please, prove that you're not a robot!")
            return false;
          }
        }
      </script>
    </div>
  </body>
</html>
